
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container">


<div class="jumbotron" id="page1">

  <!-- <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header" > <strong> what is TSEC CodeStorm ? </strong></div>
    <div class="card-body">
      <h5 class="card-title">Info</h5>
      <p class="card-text">We're a passionate organisation with the simple aim of nurturing a culture of coding in Thadomal Shahani Engineering College.

We want to build a community of students who wish to explore programming beyond the syllabus, learning skills that are industry relevant. For this cause, we organize competitions, workshops and challenges to sharpen your skills!
We put up challenges on this site every week. Get started to solve these challenges and climb through the ranks of TSEC!</p>
    </div>
  </div> -->
  <h1>What is TSEC Hackathon?</h1>
<h3>The goal of the event is to develop a prototype of working model at the end of the event.</h3>
<div class="part1">
<p>Our college is organising a hackathon based on blockchain and social causes. Since blockchain is one of the trending technologies we would like students to participate in such events.</p>
</div>

<img src="{% static 'images/hc.png'%}" alt="">







<br>



<div class="container align-left">

  <svg class="bi bi-alarm-fill" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M5.5.5A.5.5 0 016 0h4a.5.5 0 010 1H9v1.07a7.002 7.002 0 013.537 12.26l.817.816a.5.5 0 01-.708.708l-.924-.925A6.967 6.967 0 018 16a6.967 6.967 0 01-3.722-1.07l-.924.924a.5.5 0 01-.708-.708l.817-.816A7.002 7.002 0 017 2.07V1H5.999a.5.5 0 01-.5-.5zM.86 5.387A2.5 2.5 0 114.387 1.86 8.035 8.035 0 00.86 5.387zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 013.527 3.527A2.5 2.5 0 0013.5 1zm-5 4a.5.5 0 00-1 0v3.882l-1.447 2.894a.5.5 0 10.894.448l1.5-3A.5.5 0 008.5 9V5z" clip-rule="evenodd"/>

  </svg>


  <li>September 21st-22nd 2020</li>
</div>




<div class="container">

  <svg class="bi bi-caret-down-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"/>
  </svg>
  <li>Thadomal Shahani Engineering College</li>



</div>





</div>









<div class="container">
<h1 id = "upc">Upcoming Events</h1>
<div class="row">
  <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="{% static 'images/1p.png'%}" alt=""></div>
  <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="{% static 'images/2p.png'%}" alt=""></div>
  <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="{% static 'images/6p.png'%}" alt=""></div>
  <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="{%static 'images/3p.png'%}" alt=""></div>
  <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="{%static 'images/4p.png'%}" alt=""></div>
  <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="{%static 'images/5p.png'%}" alt=""></div>
  </div>

</div></div>


{% endblock %}
